{
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "@feature-sliced"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest"
  },
  "overrides": [
    {
      "files": "./vite/**/*.+(ts|tsx)",
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    }
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "react/function-component-definition": ["error", { "namedComponents": "arrow-function" }]
  }
}
